{% load static estaticos %}
<!--footer-->
    <div class="container-fluid blog-sb-widgets page-styling site-footer">
        <div class="row">
            <div class="col-sm-12 col-md-4 widget align-center-tablet f-logo-wrap">
                <a href="{% url 'web:index' %}" class="f-logo">
                    <img src="{% static_v 'img/logo.png' %}" alt="GOAT X">
                </a>
                <p>Tienda virtual GOAT X</p>
                <button class="btn callback">Contacto</button>
            </div>
        </div>
    </div>